@model PutMeOnTheList.Models.Dish

@{
    ViewBag.Title = "SubmitDish";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">@Model.FirstName @Model.LastName is bringing a dish!</h2>
<h2 class="text-center">Dish Name: @Model.DishName</h2>
<h2 class="text-center">Dish Description: @Model.DishDescription</h2>
@if (Model.GlutenFree == "on")
{
    <h2 class="text-center">This dish is Gluten Free.</h2>
}
@if (Model.Vegan == "on")
{
    <h2 class="text-center">This dish is Vegan.</h2>
}
@if (Model.Nuts == "on")
{
    <h2 class="text-center">This dish contains nuts</h2>
}
else
{
    <h2 class="text-center">This dish does not contain nuts</h2>
}
<br />
<div id="dish-home">
    <a type="button" href="/Home/Index" class="btn btn-primary btn-lg">Home</a>
</div>


