@model PutMeOnTheList.Models.RSVPModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RSVP</h2>

<form action="/RSVP/RSVP" method="post">
    @Html.ValidationSummary()
    <input type="hidden" name="GuestID" />
    <div class="form-group required">
        <label class="control-label">Email address</label>
        <input type="email" class="form-control" name="EmailAddress" placeholder="Enter Email" required>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group required">
        <label class="control-label">First Name</label>
        <input type="text" class="form-control" name="FirstName" placeholder="Enter First Name" required>
    </div>
    <div class="form-group required">
        <label class="control-label">Last Name</label>
        <input type="text" class="form-control" name="LastName" placeholder="Enter Last Name" required>
    </div>

    <div class="form-group required">
        <label class="control-label">Will you be attending?</label>
        <select class="form-control" name="Attending" id="Attending" onchange="ShowDates()" required>
            <option value=""></option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </div>

    <div class="form-group" id="PartyDates">
        <label>Which party are you planning to attend?</label><br />
        <input type="radio" id="PartyDate1" name="AttendanceDate" value="12/29/18"> 12/29/18<br>
        <input type="radio" id="PartyDate2" name="AttendanceDate" value="12/30/18"> 12/30/18<br>

    </div>

    <div class="form-group required">
        <label class="control-label">What is your favorite Game of Thrones character?</label>
        <select class="form-control" name="CharacterNumber" required>
            <option value=""></option>
            <option value="583">Jon Snow</option>
            <option value="582">Jon Redfort</option>
            <option value="581">Jon Penrose</option>
            <option value="580">Jon Myre</option>
            <option value="579">Jon Lynderly</option>
        </select>
    </div>

    <div class="form-group form-check">
        <input type="checkbox" name="PlusOne"> I'm bringing a "Plus 1"<br>
    </div>
    <button type="submit" class="btn btn-primary btn-lg" onclick="CheckForDate()">Submit</button>
</form>
<br />
<br />
<a type="button" href="/Home/Index" class="btn btn-primary btn-lg">Home</a>