@using PutMeOnTheList.Models;

@helper GetButtonVisibility(string controller, string action)
{
    if ((string)ViewContext.RouteData.Values["controller"] == controller &&
        (string)ViewContext.RouteData.Values["action"] == action)
    {
        <text>hidden</text>
    }
    else
    {
        <text>visible</text>
    }
}


@{  PartyDBEntities ORM = new PartyDBEntities();
    List<Guest> guestList = ORM.Guests.ToList();
    Guest LoggedInGuest = new Guest();
    foreach(Guest guest in guestList)
    {
        if(guest.EmailAddress == User.Identity.Name)
        {
            LoggedInGuest = guest;
        }
    }
}

<div class="navbar-nav navbar-right">
    @if (Request.IsAuthenticated)

    {
        <p class="nav-item nav-link active navbar-right mr-5">Hello @LoggedInGuest.FirstName! <strong class="ml-3"><a class="" href="/RSVP/LogOut">Sign Out</a></strong></p>
    }
    else
    {
        <div style="visibility: @GetButtonVisibility("RSVP", "Login")">
            <p class="nav-item nav-link active navbar-right mr-5">
                Already RSVP'ed?
                <strong class="ml-3">
                    <a href="@Url.Action("Login", "RSVP")">Sign In!</a>
                </strong>
            </p>
        </div>
    }
</div>
