body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("/Images/potluck.jpeg") !important;
    background-repeat: no-repeat;
    background-size: auto;
    font-size: 1.8rem !important;
    min-height: 1000px !important;
}
    /* Set padding to keep content from hitting the edges */
    .body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 200px;
}

.form-group.required .control-label:after {
    content: "*";
    color: red;
}

#main-header {
    font-family: 'Acme', sans-serif;
    font-size: 100px !important;
}

#register {
    font-size: 3.25rem !important;
}

.form-control {
    font-size: 1.35rem !important;
}

#rsvp {
    width: 25%;
    height: auto;
    margin-top: -100px;
    margin-bottom: -25px
}

#rsvp-buttons, #dish-home {
    display: flex;
    justify-content: center;
}

#phone-format {
    font-size: 1rem !important;
}

#dish-desc {
    max-width: 275px;
}