
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 id="main-header" class="text-primary text-center">DevBuild PotLuck-Bonanza 2018!</h1>
<br /> <br /> <br />
<div class="container-fluid text-center">
    <div class="row">

        <div class="col">
            <a href="/RSVP/RSVP" id="rsvp-home" class="btn btn-primary btn-lg px-5 mt-5">RSVP &raquo;</a>
        </div>

        <div class="col">
            <a href="/Dish/Index" id="dish-home" class="btn btn-primary btn-lg px-5 mt-5">Add a Dish &raquo;</a>
        </div>

        <div class="col">
            <a href="/RSVP/GuestList" id="guest-list-home" class="btn btn-primary btn-lg px-5 mt-5">View Guest List &raquo;</a>
        </div>

        <div class="col">
            <a href="/Dish/DishList" id="dish-list-home" class="btn btn-primary btn-lg px-5 mt-5">View List of Dishes &raquo;</a>
        </div>

        <div class="col">
            <a href="/Dish/ViewMyDishes" id="my-dish-list-home" class="btn btn-primary btn-lg px-5 mt-5">View My Dishes &raquo;</a>
        </div>

    </div>
</div>

